<!DOCTYPE html>
<html>

<head>
    <title>Microsoft.VisualBasic.DataStorage.netCDF.Components.Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="https://rdocumentation.rsharp.net/assets/page.css">
</head>

<body>
    <div class="container">

        <table style="width: 100%;">
            <tr>
                <td>Header {Microsoft.VisualBasic.DataStorage.netCDF.Components}</td>
                <td style="text-align: right;">.NET clr documentation</td>
            </tr>
        </table>

        <h2>Header</h2>

        <h3>Description</h3>

        <p>Object with the fields:
 
  + `recordDimension` Number with the length of record dimension
  + `dimensions`: List of dimensions
  + `globalAttributes`: List of global attributes
  + `variables`: List of variables</p>

        <h3>Declare</h3>        

        <pre>
            <code id="clr_ts">
# namespace Microsoft.VisualBasic.DataStorage.netCDF.Components
export class Header {
   # List of dimensions
   dimensions: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/Dimension.html">Dimension[]</a>;
   # List of global attributes
   globalAttributes: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/attribute.html">attribute[]</a>;
   # Number with the length of record dimension
   recordDimension: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/recordDimension.html">recordDimension</a>;
   # List of variables
   variables: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/variable.html">variable[]</a>;
   # + \x01 classic format (CDF-1)
   #  + \x02 64-bit offset format (CDF-2)
   version: <a href="/vignettes/clr/System/Byte.html">Byte</a>;
}
</code>
        </pre>

        <h3>.NET clr type reference tree</h3>

        <ol>
<li>use by <i>property</i> member <code>dimensions</code>: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/Dimension.html">Dimension</a></li>
<li>use by <i>property</i> member <code>globalAttributes</code>: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/attribute.html">attribute</a></li>
<li>use by <i>property</i> member <code>recordDimension</code>: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/recordDimension.html">recordDimension</a></li>
<li>use by <i>property</i> member <code>variables</code>: <a href="/vignettes/clr/Microsoft/VisualBasic/DataStorage/netCDF/Components/variable.html">variable</a></li>
<li>use by <i>property</i> member <code>version</code>: <a href="/vignettes/clr/System/Byte.html">Byte</a></li>
</ol>


        <hr />
        <div style="text-align: center;">[Package <em>{$package}</em> version {$version} <a
                href="../{$package}.html">Index</a>]
        </div>
    </div>
</body>

<script type="text/javascript" src="https://rdocumentation.rsharp.net/assets/R_syntax.js"></script>
<script type="text/javascript" src="https://rdocumentation.rsharp.net/assets/highlights.js"></script>
<script type="text/javascript">r_highlights("clr_ts");</script>

</html>