[submodule "modules/Linq.js"]
	path = modules/Linq.js
	url = https://github.com/biocad-cloud/data.ts.git
[submodule "modules/php.NET"]
	path = modules/php.NET
	url = https://github.com/biocad-cloud/php-dotnet.git
[submodule "modules/marked.js"]
	path = modules/marked.js
	url = https://github.com/BioDeep/marked.git
