<div id="cookie-banner" class="alert-warning" style="display: none;">
    <div id="cookie-icon" class="text-right"><span class="icon-alert-warning icon_24">&nbsp;</span></div>
    <div id="cookie-text">
        <p>This website uses cookies to improve your user experience, personalize content and ads, and analyze
            website traffic.&nbsp; By continuing to use this website, you consent to our use of cookies.&nbsp;
            Please see our&nbsp;<a href="https://uk.mathworks.com/company/aboutus/policies_statements.html"
                target="_self">Privacy Policy</a>&nbsp;to learn more about cookies and how to change your
            settings.<br>
        </p>
    </div>
    <div id="cookieBannerRemove"><span class="icon-remove icon_16">&nbsp;</span></div>
</div>