<footer id="footer" class="bs-footer">

    <div class="fat_footer_container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <div class="fatFooterParsys iparsys parsys resourceClass-iparsys containsResourceName">
                            <div class="section">
                                <div class="new containsResourceName resourceClass-new"></div>
                            </div>
                            <div class="iparys_inherited">
                                <div class="fatFooterParsys iparsys parsys containsResourceName resourceClass-par">
                                    <div class="cqColumns containsResourceName section resourceClass-columns">
                                        <div class="row">

                                            <div class=" col-xs-12 col-lg-9 col-lg-push-3">
                                                <div class="parsys containsResourceName resourceClass-parsys">
                                                    <div
                                                        class="cqColumns containsResourceName section resourceClass-columns">
                                                        <div class="row add_margin_20  ">
                                                        
                                                            <div class=" col-xs-12 col-sm-2">
                                                                <div
                                                                    class="parsys containsResourceName resourceClass-parsys">
                                                                    <div
                                                                        class="text containsResourceName section resourceClass-text">
                                                                        <div class="mw-text  ">
                                                                            <p class="ff_section_title">Learn to Use
                                                                            </p>
                                                                            <ul class="list-unstyled">
                                                                                <li><a href="https://uk.mathworks.com/help/?s_tid=hp_ff_l_doc"
                                                                                        data-target="same">Documentation</a>
                                                                                </li>
                                                                                <li><a href="https://uk.mathworks.com/support/learn-with-matlab-tutorials.html?s_tid=hp_ff_l_tutorials"
                                                                                        data-target="same">Tutorials</a>
                                                                                </li>
                                                                                <li><a href="https://uk.mathworks.com/help/examples.html?s_tid=hp_ff_l_examples"
                                                                                        data-target="same">Examples</a>
                                                                                </li>
                                                                                <li><a href="https://uk.mathworks.com/videos.html?s_tid=hp_ff_l_videos"
                                                                                        target="_self">Videos and
                                                                                        Webinars</a></li>
                                                                                <li><a href="https://uk.mathworks.com/services/training.html?s_tid=hp_ff_l_training"
                                                                                        target="_self">Training</a>
                                                                                </li>
                                                                            </ul>

                                                                        </div>


                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class=" col-xs-12 col-sm-2">
                                                                <div
                                                                    class="parsys containsResourceName resourceClass-parsys">
                                                                    <div
                                                                        class="text containsResourceName section resourceClass-text">
                                                                        <div class="mw-text  ">
                                                                            <p class="ff_section_title">Get Support
                                                                            </p>
                                                                            <ul class="list-unstyled">
                                                                                <li><a
                                                                                        href="https://uk.mathworks.com/help/install/?s_tid=hp_ff_s_install">Installation
                                                                                        Help</a></li>
                                                                                <li><a
                                                                                        href="https://uk.mathworks.com/matlabcentral/answers/index?s_tid=hp_ff_s_answers">Answers</a>
                                                                                </li>
                                                                                <li><a href="https://uk.mathworks.com/services/consulting.html?s_tid=hp_ff_s_consulting"
                                                                                        target="_self">Consulting</a>
                                                                                </li>
                                                                                <li><a
                                                                                        href="https://uk.mathworks.com/licensecenter/?s_tid=hp_ff_s_license">License
                                                                                        Center</a></li>
                                                                                <li><a href="https://uk.mathworks.com/support/contact_us.html?s_tid=hp_ff_s_support"
                                                                                        target="_self">Contact
                                                                                        Support</a></li>
                                                                            </ul>

                                                                        </div>


                                                                    </div>

                                                                </div>
                                                            </div>                                                      
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class=" col-xs-12 col-lg-3 col-lg-pull-9">
                                                <div class="parsys containsResourceName resourceClass-parsys">
                                                    <div class="text containsResourceName section resourceClass-text">
                                                        <div class="mw-text  ">
                                                            <p class="h4 add_font_futura_medium add_margin_0">
                                                                SMRUCC genomics</p>
                                                            <p><i>Accelerating the pace of engineering and
                                                                    science</i></p>

                                                        </div>


                                                    </div>
                                                    <div class="text containsResourceName section resourceClass-text">
                                                        <div class="mw-text  ">
                                                            <p>MathWorks is the leading developer of mathematical
                                                                computing software for engineers and scientists.</p>

                                                        </div>


                                                    </div>
                                                    <div class="text containsResourceName section resourceClass-text">
                                                        <div class="mw-text  ">
                                                            <p><a href="" data-target="same">Discover…</a></p>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BASIC FOOTER CONTENT - Begin -->
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-xs-12 col-md-9">

                    <div class="clearfix"></div>

                    <div>
                        <div
                            class="footerNavigation footernavigation containsResourceName resourceClass-footernavigation">
                            <ul class="footernav  ">
                                <li class="footernav_footernav_patents">
                                    <a href="">Patents</a>
                                </li>

                                <li class="footernav_footernav_trademarks">
                                    <a href="">Trademarks</a>
                                </li>

                                <li class="footernav_footernav_privacy">
                                    <a href="">Privacy
                                        Policy</a>
                                </li>

                                <li class="footernav_footernav_piracy">
                                    <a href="">Preventing
                                        Piracy</a>
                                </li>

                                <li class="footernav_footernav_status">
                                    <a href="">Application
                                        Status</a>
                                </li>

                                <li class="footernav_footernav_msat">
                                    <a href="">Modern
                                        Slavery Act Transparency Statement</a>
                                </li>
                            </ul>


                        </div>
                    </div>

                    <div>
                        <div
                            class="footerCompanyAddress footercompanyaddress containsResourceName resourceClass-footercompanyaddress">

                            <div class="cq-placeholder" data-emptytext="Footer Company Address"></div>

                        </div>
                    </div>

                    <div>
                        <div class="footerParsys iparsys parsys resourceClass-iparsys containsResourceName">
                            <div class="section">
                                <div class="new containsResourceName resourceClass-new"></div>
                            </div>
                            <div class="iparys_inherited">
                                <div class="footerParsys iparsys parsys containsResourceName resourceClass-par">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="copyright">© 2019-2021 SMRUCC genomics.</p>
                </div>
                <div class="clearfix visible-sm add_margin_10"></div>
                <div class="col-xs-12 col-md-3">

                    <div>
                        <div class="socialMediaIconParsys iparsys parsys resourceClass-iparsys containsResourceName">
                            <div class="section">
                                <div class="new containsResourceName resourceClass-new"></div>
                            </div>
                            <div class="iparys_inherited">
                                <div
                                    class="socialMediaIconParsys iparsys parsys containsResourceName resourceClass-par">
                                    <div
                                        class="socialmediaicon containsResourceName resourceClass-socialmediaicon section">

                                        <div class="social_media  ">
                                            <ul class="social_media_icons list-unstyled">

                                                <li>
                                                    <a href="/rss.html" class="svg_link">
                                                        <img class="ico_rss" alt="RSS"
                                                            src="/resources/svg/ico-rss.20210211205020640.svg">
                                                    </a>
                                                </li>

                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>

    </div>
    <!-- BASIC FAT FOOTER CONTENT - End -->
</footer>

<a class="btn btn_color_mediumgray" id="go-top" tabindex="0"><span class="sr-only">Go to top of page</span><span
        class="icon-arrow-open-up icon_24"></span></a>