<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{$description}">

<link rel="icon" href="" type="image/x-icon">
<link rel="canonical" href="{$canonical}">

<meta property="og:url" content="{$canonical}">
<meta property="og:image:url" content="">
<meta property="og:image:secure_url" content="/resources/images/thumbnail-generic-document.jpg">
<meta property="og:description" content="{$description}">
<meta property="og:title" content="{$title}">

<title>{$title}</title>

<link rel="stylesheet" href="/resources/styles/main.min.20210211205020640.css" type="text/css">
<link rel="stylesheet" href="/resources/styles/common.min.20210211205020640.css" type="text/css">
<link rel="stylesheet" href="/resources/styles/mathworks-aem.min.20210211205020640.css" type="text/css">
<link rel="stylesheet" href="/resources/styles/xvy5baa.css">
<link href="/resources/fonts/mathworks.20210211205020640.woff" rel="preload" as="font" type="font/woff" crossorigin="">

<script type="text/javascript" src="/resources/javascript/jquery.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/utils.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/granite.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/main.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/shared.min.20210211205020640.js"></script>

<script type="application/json">
    {
        "pageInstanceID": "https://uk.mathworks.com/discovery/linear-model.html",
        "page": {
            "pageInfo": {
                "pageID": "https://uk.mathworks.com/discovery/linear-model.html",
                "destinationURL": "https://uk.mathworks.com/discovery/linear-model.html"
            },
            "category": {
                "subCategory1": "discovery/linear-model",
                "pageType": "disc"
            },
            "attributes": {
                "descriptonCode": "sts"
            }
        },
        "product": [{
            "productInfo": {}
        }],
        "component": []
    };
</script>

<script>
    $(document).ready(function () {
        $('.countrynav').insertAfter('#headernav');
    });
</script>

<link rel="stylesheet" href="/resources/styles/app.css">