<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{$description}">

<link rel="icon" href="" type="image/x-icon">
<link rel="canonical" href="{$canonical}">

<meta property="og:url" content="{$canonical}">
<meta property="og:image:url" content="">
<meta property="og:image:secure_url" content="/resources/images/thumbnail-generic-document.jpg">
<meta property="og:description" content="{$description}">
<meta property="og:title" content="{$title}">

<script async="" src="/resources/uwt.js.download"></script>
<script src="/resources/quant.js.download" async="" type="text/javascript"></script>
<script type="text/javascript" async="" src="/resources/f.txt"></script>
<script src="/resources/bat.js.download" async=""></script>
<script type="text/javascript" async="" src="/resources/elqCfg.min.js.download"></script>
<script type="text/javascript" src="/resources/ruxitagentjs_ICA27SVfhqrux_10209210209190405.js.download"
    data-dtconfig="rid=RID_-411317705|rpid=-232819955|domain=mathworks.com|reportUrl=https://bf95589qej.bf.dynatrace.com/bf|app=ea7c4b59f27d43eb|cors=1|featureHash=ICA27SVfhqrux|srsr=1000|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=yak2vkuz|mel=100000|dpvc=1|md=mdcc1=bmwaReferenceId,mdcc2=bs.pageName|lastModification=1613637438945|dtVersion=10209210209190405|tp=500,50,0,1|uxdcw=1500|vs=2|agentUri=/ruxitagentjs_ICA27SVfhqrux_10209210209190405.js"></script>
<link rel="stylesheet" href="/resources/main.min.20210211205020640.css" type="text/css">
<script type="text/javascript" src="/resources/jquery.min.20210211205020640.js.download"></script>
<script type="text/javascript" src="/resources/utils.min.20210211205020640.js.download"></script>
<script type="text/javascript" src="/resources/granite.min.20210211205020640.js.download"></script>

<script type="text/javascript" src="/resources/main.min.20210211205020640.js.download"></script>

<script type="text/javascript" src="/resources/shared.min.20210211205020640.js.download"></script>

<link rel="stylesheet" href="/resources/common.min.20210211205020640.css" type="text/css">
<link rel="stylesheet" href="/resources/mathworks-aem.min.20210211205020640.css" type="text/css">

<link rel="stylesheet" href="/resources/xvy5baa.css">
<link href="/resources/fonts/mathworks.20210211205020640.woff" rel="preload" as="font" type="font/woff" crossorigin="">


<script type="application/json">{
            "pageInstanceID": "https://uk.mathworks.com/discovery/linear-model.html",
            "page": {
                "pageInfo": {
                    "pageID": "https://uk.mathworks.com/discovery/linear-model.html",
                    "destinationURL": "https://uk.mathworks.com/discovery/linear-model.html"
                },
                "category": {
                    "subCategory1": "discovery/linear-model",
                    "pageType": "disc"
                },
                "attributes": {
                    "descriptonCode": "sts"
                }
            },
            "product": [{
                "productInfo": {}
            }],
            "component": []
        };</script>

<script src="/resources/satelliteLib-e8d23c2e444abadc572df06537e2def59c01db09.js.download"></script>
<script src="/resources/EXc48bef7b1ad6486a91c93cda5330b8e0-libraryCode_source.min.js.download" async=""></script>

<script type="text/javascript" src="/resources/atjs-integration.min.20210211205020640.js.download"></script>

<title>{$title}</title>

<script>
    $(document).ready(function () {
        $('.countrynav').insertAfter('#headernav');
    });
</script>

<link rel="stylesheet" href="/resources/style.css">