<div>
    <div class="modalParsys parsys containsResourceName resourceClass-parsys">
    </div>
</div>

<div id="location_content" style="display:none;"></div>

<div class="modal fade" id="country-unselected" tabindex="-1" role="dialog" aria-labelledby="country-unselected-title"
    translate="no" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <img src="/resources/pic-header-mathworks-logo.20210211205020640.svg" style="width:167px; height:auto;"
                    class="mw_logo" alt="MathWorks - Domain Selector">
            </div>
            <div class="modal-body">
                <div class="row add_margin_40">
                    <div class="col-xs-12">
                        <p class="h1 icon-globe add_icon_color_darkblue" id="country-unselected-title">
                            Select a Web
                            Site</p>
                        <p>Choose a web site to get translated content where available and see local events
                            and
                            offers. Based on
                            your location, we recommend that you select: <strong
                                class="recommended-country">中国</strong>.
                        </p>
                        <a href="https://ww2.mathworks.cn/" id="recommended_domain_button"
                            class="btn btn_color_blue containsResourceName resourceClass-button">Select
                            <span class="recommended-country">中国</span> web site</a>
                    </div>
                </div>
                <p>You can also select a web site from the following list:</p>
                <div class="alert alert-warning" id="china_performance_alert" style=""><span
                        class="alert_icon icon-alert-warning"></span>
                    <h2>How to Get Best Site Performance</h2>
                    <p>Select the China site (in Chinese or English) for best site performance. Other
                        MathWorks country
                        sites are not optimized for visits from your location.</p>
                </div>
                <div class="row add_margin_20">
                    <div class="col-sm-4 col-md-3">
                        <h3 class="add_bottom_rule">Americas</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://la.mathworks.com/" class="domain_selector_link" data-country-code="LA"
                                    data-subdomain="la" data-lang="es" data-default-lang="true"
                                    data-selected-text="América Latina" data-recommended-text="América Latina"
                                    data-do-not-rewrite="true">América Latina</a> (Español)
                            </li>
                            <li><a href="https://www.mathworks.com/" class="domain_selector_link" data-country-code="CA"
                                    data-subdomain="www" data-lang="en" data-do-not-rewrite="true">Canada</a> (English)
                            </li>
                            <li><a href="https://www.mathworks.com/" class="domain_selector_link" data-country-code="US"
                                    data-subdomain="www" data-lang="en" data-default-lang="true"
                                    data-selected-text="United States" data-recommended-text="United States"
                                    data-do-not-rewrite="true">United
                                    States</a> (English)
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-6">
                        <h3 class="add_bottom_rule">Europe</h3>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-6">
                                <ul class="list-unstyled add_margin_0_sm">
                                    <li><a href="https://nl.mathworks.com/" class="domain_selector_link"
                                            data-country-code="BE" data-subdomain="nl" data-lang="en"
                                            data-do-not-rewrite="true">Belgium</a> (English)
                                    </li>
                                    <li><a href="https://se.mathworks.com/" class="domain_selector_link"
                                            data-country-code="DK" data-subdomain="se" data-lang="en"
                                            data-do-not-rewrite="true">Denmark</a> (English)
                                    </li>
                                    <li><a href="https://de.mathworks.com/" class="domain_selector_link"
                                            data-country-code="DE" data-subdomain="de" data-lang="de"
                                            data-default-lang="true" data-selected-text="Deutschland"
                                            data-recommended-text="Deutschland"
                                            data-do-not-rewrite="true">Deutschland</a> (Deutsch)
                                    </li>
                                    <li><a href="https://es.mathworks.com/" class="domain_selector_link"
                                            data-country-code="ES" data-subdomain="es" data-lang="es"
                                            data-default-lang="true" data-selected-text="España"
                                            data-recommended-text="España" data-do-not-rewrite="true">España</a>
                                        (Español)
                                    </li>
                                    <li><a href="https://se.mathworks.com/" class="domain_selector_link"
                                            data-country-code="FI" data-subdomain="se" data-lang="en"
                                            data-do-not-rewrite="true">Finland</a> (English)
                                    </li>
                                    <li><a href="https://fr.mathworks.com/" class="domain_selector_link"
                                            data-country-code="FR" data-subdomain="fr" data-lang="fr"
                                            data-default-lang="true" data-selected-text="France"
                                            data-recommended-text="France" data-do-not-rewrite="true">France</a>
                                        (Français)
                                    </li>
                                    <li><a href="https://uk.mathworks.com/" class="domain_selector_link"
                                            data-country-code="IE" data-subdomain="uk" data-lang="en"
                                            data-do-not-rewrite="true">Ireland</a> (English)
                                    </li>
                                    <li><a href="https://it.mathworks.com/" class="domain_selector_link"
                                            data-country-code="IT" data-subdomain="it" data-lang="it"
                                            data-default-lang="true" data-selected-text="Italia"
                                            data-recommended-text="Italia" data-do-not-rewrite="true">Italia</a>
                                        (Italiano)
                                    </li>
                                    <li><a href="https://nl.mathworks.com/" class="domain_selector_link"
                                            data-country-code="LU" data-subdomain="nl" data-lang="en"
                                            data-do-not-rewrite="true">Luxembourg</a> (English)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="https://nl.mathworks.com/" class="domain_selector_link"
                                            data-country-code="NL" data-subdomain="nl" data-lang="en"
                                            data-default-lang="true" data-selected-text="Benelux"
                                            data-recommended-text="Netherlands"
                                            data-do-not-rewrite="true">Netherlands</a> (English)
                                    </li>
                                    <li><a href="https://se.mathworks.com/" class="domain_selector_link"
                                            data-country-code="NO" data-subdomain="se" data-lang="en"
                                            data-do-not-rewrite="true">Norway</a> (English)
                                    </li>
                                    <li><a href="https://de.mathworks.com/" class="domain_selector_link"
                                            data-country-code="AT" data-subdomain="de" data-lang="de"
                                            data-do-not-rewrite="true">Österreich</a> (Deutsch)
                                    </li>
                                    <li><a href="https://www.mathworks.com/" class="domain_selector_link"
                                            data-country-code="PT" data-subdomain="www" data-lang="en"
                                            data-do-not-rewrite="true">Portugal</a> (English)
                                    </li>
                                    <li><a href="https://se.mathworks.com/" class="domain_selector_link"
                                            data-country-code="Sweden" data-subdomain="se" data-lang="en"
                                            data-default-lang="true" data-selected-text="Nordic"
                                            data-recommended-text="Sweden" data-do-not-rewrite="true">Sweden</a>
                                        (English)
                                    </li>
                                    <li>Switzerland
                                        <ul class="list-unstyled add_indent_20">
                                            <li><a href="https://ch.mathworks.com/" class="domain_selector_link"
                                                    data-country-code="CH" data-subdomain="ch" data-lang="de"
                                                    data-selected-text="Schweiz" data-recommended-text="Schweiz"
                                                    data-do-not-rewrite="true">Deutsch</a>
                                            </li>
                                            <li><a href="https://ch.mathworks.com/" class="domain_selector_link"
                                                    data-country-code="CH" data-subdomain="ch" data-lang="en"
                                                    data-default-lang="true" data-selected-text="Switzerland"
                                                    data-recommended-text="Switzerland"
                                                    data-do-not-rewrite="true">English</a>
                                            </li>
                                            <li><a href="https://ch.mathworks.com/" class="domain_selector_link"
                                                    data-country-code="CH" data-subdomain="ch" data-lang="fr"
                                                    data-selected-text="Suisse" data-recommended-text="Suisse"
                                                    data-do-not-rewrite="true">Français</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="https://uk.mathworks.com/" class="domain_selector_link"
                                            data-country-code="GB" data-subdomain="uk" data-lang="en"
                                            data-default-lang="true" data-selected-text="United Kingdom"
                                            data-recommended-text="United Kingdom" data-do-not-rewrite="true">United
                                            Kingdom</a>
                                        (English)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <h3 class="add_bottom_rule">Asia Pacific</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://au.mathworks.com/" class="domain_selector_link" data-country-code="AU"
                                    data-subdomain="au" data-lang="en" data-default-lang="true"
                                    data-selected-text="Australia" data-recommended-text="Australia"
                                    data-do-not-rewrite="true">Australia</a> (English)
                            </li>
                            <li><a href="https://in.mathworks.com/" class="domain_selector_link" data-country-code="IN"
                                    data-subdomain="in" data-lang="en" data-default-lang="true"
                                    data-selected-text="India" data-recommended-text="India"
                                    data-do-not-rewrite="true">India</a>
                                (English)
                            </li>
                            <li><a href="https://au.mathworks.com/" class="domain_selector_link" data-country-code="NZ"
                                    data-subdomain="au" data-lang="en" data-do-not-rewrite="true">New Zealand</a>
                                (English)
                            </li>
                            <li>中国
                                <ul class="list-unstyled add_indent_20">
                                    <li><a href="https://ww2.mathworks.cn/" class="domain_selector_link"
                                            data-country-code="CN" data-subdomain="ww2" data-lang="zh"
                                            data-default-lang="true" data-selected-text="中国" data-recommended-text="中国"
                                            data-do-not-rewrite="true">简体中文<span class="sr-only">Chinese</span>
                                        </a>
                                    </li>
                                    <li><a href="https://ww2.mathworks.cn/" class="domain_selector_link"
                                            data-country-code="CN" data-subdomain="ww2" data-lang="en"
                                            data-default-lang="true" data-selected-text="China"
                                            data-recommended-text="China" data-do-not-rewrite="true">English</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="https://jp.mathworks.com/" class="domain_selector_link" data-country-code="JP"
                                    data-subdomain="jp" data-lang="ja" data-default-lang="true" data-selected-text="日本"
                                    data-recommended-text="日本" data-do-not-rewrite="true">日本<span
                                        class="sr-only">Japanese</span></a> (日本語)
                            </li>
                            <li><a href="https://kr.mathworks.com/" class="domain_selector_link" data-country-code="KR"
                                    data-subdomain="kr" data-lang="ko" data-default-lang="true" data-selected-text="한국"
                                    data-recommended-text="한국" data-do-not-rewrite="true">한국<span
                                        class="sr-only">Korean</span></a> (한국어)
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="text-center"><a href="https://ww2.mathworks.cn/" class="worldwide_link">Contact
                        your local office</a></p>
            </div>
        </div>
    </div>
</div>