
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="clientcontext parbase containsResourceName resourceClass-clientcontext">
    <script type="text/javascript" src="/resources/javascript/modern.min.20210211205020640.js"></script>
    <script type="text/javascript" src="/resources/javascript/kernel.min.20210211205020640.js"></script>
</div>

<script type="text/javascript" src="/resources/javascript/common.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/mathworks-aem.min.20210211205020640.js"></script>
<script type="text/javascript" src="/resources/javascript/matrixmenu.min.20210211205020640.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if (document.cookie.indexOf('video-reg') !== -1) {
            //target dom span class
            $('.icon-video-locked').css('display', 'none');
        }
    });
</script>

<script type="text/javascript" src="/typescripts/linq.js"></script>
<script type="text/javascript" src="/typescripts/marked.js"></script>
<script type="text/javascript" src="/typescripts/rlang.js"></script>
<script type="text/javascript" src="/typescripts/Rdocumentation.js"></script>