<!-- Mobile TopNav: Start -->
<div class="header visible-xs visible-sm" id="header_mobile" style="">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" class="navbar-toggle topnav_toggle" data-toggle="collapse"
                            data-target="#topnav_collapse">
                            <span class="sr-only">Toggle Main Navigation</span>
                            <span class="icon-menu"></span>
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-center">
                            <a href="https://uk.mathworks.com/?s_tid=gn_logo" class="svg_link navbar-brand">
                                <img src="/resources/pic-header-mathworks-logo.20210211205020640.svg" class="mw_logo"
                                    alt="MathWorks - Mobile View">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="matrix_affordance_container_mobile" id="matrix_affordance_container_mobile">
                            <div id="headernav_matrix_small" class="headernav_matrix"><button title="Matrix Menu"
                                    class="navbar-toggle matrix_toggle" data-toggle="collapse"
                                    data-target="#matrix_collapse" id="matrix_waffle_small" aria-label="Mathworks Menu"
                                    type="button"><span class="icon-matrix"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row visible-xs visible-sm">
                    <div class="col-xs-12">
                        <div class="navbar-collapse collapse" id="topnav_collapse">
                            <div class="topNavigation topnavigation containsResourceName resourceClass-topnavigation">

                                <ul class="nav navbar-nav" id="topnav">


                                    <li class="topnav_products ">
                                        <a href="https://uk.mathworks.com/products.html?s_tid=gn_ps">Products</a>
                                    </li>

                                    <li class="topnav_solutions ">
                                        <a href="https://uk.mathworks.com/solutions.html?s_tid=gn_sol">Solutions</a>
                                    </li>

                                    <li class="topnav_academia ">
                                        <a href="https://uk.mathworks.com/academia.html?s_tid=gn_acad">Academia</a>
                                    </li>

                                    <li class="topnav_support ">
                                        <a href="https://uk.mathworks.com/support.html?s_tid=gn_supp">Support</a>
                                    </li>

                                    <li class="topnav_community ">
                                        <a href="https://uk.mathworks.com/matlabcentral/?s_tid=gn_mlc">Community</a>
                                    </li>

                                    <li class="topnav_events ">
                                        <a href="https://uk.mathworks.com/company/events.html?s_tid=gn_ev">Events</a>
                                    </li>


                                    <li class="headernav_store">
                                        <a href="/login">{$user_name}</a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Mobile TopNav: End -->
<!-- Desktop TopNav: Start -->
<div class="header hidden-xs hidden-sm" id="header_desktop">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="navbar-header">
                        <div class="logo_container hidden-xs hidden-sm">
                            <a href="https://uk.mathworks.com/?s_tid=gn_logo" class="svg_link pull-left">
                                <img src="/resources/pic-header-mathworks-logo.20210211205020640.svg" class="mw_logo"
                                    alt="MathWorks">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse hidden-xs hidden-sm">

                            <div class="topNavigation topnavigation containsResourceName resourceClass-topnavigation">


                                <ul id="topnav" class="nav navbar-nav">
                                    <li class="topnav_products ">
                                        <a href="https://uk.mathworks.com/products.html?s_tid=gn_ps">Products</a>
                                    </li>

                                    <li class="topnav_solutions ">
                                        <a href="https://uk.mathworks.com/solutions.html?s_tid=gn_sol">Solutions</a>
                                    </li>

                                    <li class="topnav_academia ">
                                        <a href="https://uk.mathworks.com/academia.html?s_tid=gn_acad">Academia</a>
                                    </li>

                                    <li class="topnav_support ">
                                        <a href="https://uk.mathworks.com/support.html?s_tid=gn_supp">Support</a>
                                    </li>

                                    <li class="topnav_community ">
                                        <a href="https://uk.mathworks.com/matlabcentral/?s_tid=gn_mlc">Community</a>
                                    </li>

                                    <li class="topnav_events ">
                                        <a href="https://uk.mathworks.com/company/events.html?s_tid=gn_ev">Events</a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="headerNavigation headernavigation containsResourceName resourceClass-headernavigation">
                        <div class="collapse navbar-collapse" id="headernav_collapse">
                            <ul class="nav navbar-nav navbar-right" id="headernav">

                                <li class="headernav_store">
                                    <a href="/login" class="btn btn_color_blue companion_btn btn-xs">{$user_name}</a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Desktop TopNav: End -->