<div class="col-xs-12 col-sm-3">
    <section class="section_downsize">
        <div>
            <div class="imageParsys parsys containsResourceName resourceClass-parsys">
                <div class="cqThumbnail containsResourceName resourceClass-thumbnail section">

                    <div class="thumbnail thumbnail_asset asset_overlay add_margin_20  ">
                        <div class="row">

                            <div class="col-xs-6 col-sm-12">
                                <a href="https://uk.mathworks.com/videos/regression-analysis-with-matlab-new-statistics-toolbox-capabilities-in-r2012a-81869.html"
                                    title="In this webinar, you will learn new R2012a-related capabilities in Statistics Toolbox. MathWorks engineers will explore an enhanced interface for regression analysis including fitting, prediction, and plotting.  The interface also provides native sup">

                                    <div data-adaptivepicture=""
                                        data-alt="In this webinar, you will learn new R2012a-related capabilities in Statistics Toolbox. MathWorks engineers will explore an enhanced interface for regression analysis including fitting, prediction, and plotting.  The interface also provides native sup"
                                        data-class="fluid_image" data-image="/resources/images/1597150230853.jpg"
                                        data-has-mobile="false" data-mobile-breakpoint="481"
                                        data-mobile-image=".adapt.[width].medium">
                                        <noscript>

                                            <img src='/resources/images/1597150230853.jpg'
                                                alt='In this webinar, you will learn new R2012a-related capabilities in Statistics Toolbox. MathWorks engineers will explore an enhanced interface for regression analysis including fitting, prediction, and plotting.  The interface also provides native sup'
                                                class="fluid_image" />

                                        </noscript>
                                        <img alt="In this webinar, you will learn new R2012a-related capabilities in Statistics Toolbox. MathWorks engineers will explore an enhanced interface for regression analysis including fitting, prediction, and plotting.  The interface also provides native sup"
                                            class="fluid_image responsiveImage"
                                            src="/resources/images/1597150230853.jpg">
                                    </div>


                                    <div class="overlay_container text-center" style="font-size: 12px; padding: 2px;">
                                        <span class="icon-video add_icon_color_white"><span class="video_length"
                                                style="font-size: 12px;">35:09</span></span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-12">

                                <div class="asset_title">
                                    <a
                                        href="https://uk.mathworks.com/videos/regression-analysis-with-matlab-new-statistics-toolbox-capabilities-in-r2012a-81869.html">

                                        <span></span>
                                        Regression Analysis with MATLAB: New Statistics Toolbox
                                        Capabilities in R2012a<span class="video_length series"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="cqThumbnail containsResourceName resourceClass-thumbnail section">

                    <div class="thumbnail thumbnail_asset asset_overlay add_margin_20  ">
                        <div class="row">

                            <div class="col-xs-12">

                                <div class="add_margin_5">

                                    <a href="https://uk.mathworks.com/videos/what-is-statistics-and-machine-learning-toolbox-1535364019460.html"
                                        title="Analyze and model data using Statistics and Machine Learning Toolbox.">

                                        <div data-adaptivepicture=""
                                            data-alt="Analyze and model data using Statistics and Machine Learning Toolbox."
                                            data-class="fluid_image" data-image="/resources/images/1610721788199.png"
                                            data-has-mobile="false" data-mobile-breakpoint="481"
                                            data-mobile-image=".adapt.[width].medium">
                                            <noscript>

                                                <img src='/resources/images/1610721788199.png'
                                                    alt='Analyze and model data using Statistics and Machine Learning Toolbox.'
                                                    class="fluid_image" />


                                            </noscript>
                                            <img alt="Analyze and model data using Statistics and Machine Learning Toolbox."
                                                class="fluid_image responsiveImage"
                                                src="/resources/images/1610721788199.png">
                                        </div>
                                        <div class="overlay_container text-center"
                                            style="font-size: 12px; padding: 2px;">
                                            <span class="icon-video add_icon_color_white"><span class="video_length"
                                                    style="font-size: 12px;">2:11</span></span>
                                        </div>

                                    </a>

                                </div>

                                <div class="asset_title">

                                    <a
                                        href="https://uk.mathworks.com/videos/what-is-statistics-and-machine-learning-toolbox-1535364019460.html">

                                        <span></span>
                                        What Is Statistics and Machine Learning Toolbox?<span
                                            class="video_length series"></span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reference parbase containsResourceName resourceClass-reference section">

                    <div class="cq-dd-paragraph">
                        <div class="cqPanel containsResourceName resourceClass-panel">

                            <div class="panel panel-default add_background_color_gray  ">
                                <div class="panel-body add_padding_null">


                                    <div class="panelParsys parsys containsResourceName resourceClass-parsys">
                                        <div class="text containsResourceName section resourceClass-text">
                                            <div class="mw-text  ">
                                                <h3>Mastering Machine Learning: A Step-by-Step
                                                    Guide with MATLAB</h3>

                                            </div>

                                        </div>
                                        <div class="actionlink containsResourceName section resourceClass-actionlink">

                                            <a href="https://uk.mathworks.com/campaigns/offers/mastering-machine-learning-with-matlab.html"
                                                class="add_margin_20  icon-ebook  null add_icon_color_null null  "
                                                data-link="lead"
                                                data-offertype="Mastering Machine Learning::Mastering Machine Learning::Live Chat for Mastering Machine Learning: A Step-by-Step Guide with MATLAB"
                                                data-component="actionlink">

                                                Download ebook</a>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <div class="mainParsys2 parsys containsResourceName resourceClass-parsys">
            </div>
        </div>
        <div>
            <div class="referenceParsys parsys containsResourceName resourceClass-parsys">
            </div>
        </div>

    </section>
</div>