<!DOCTYPE html>

<html lang="en">

<head class="at-element-marker">

    ${includes/head.html}

</head>

<body data-label-chat-online="Chat with Support" data-label-chat-offline="Chat is Offline" class="" style="">
    <div>
        <div id="MathJax_Hidden"></div>
    </div>
    <div id="MathJax_Message" style="display: none;"></div>

    ${includes/topnav.html}
    ${includes/search.html}

    <div class="content_container">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <h2 class="h3 add_font_color_orange">Describe mathematical relationships and make
                                predictions from experimental data</h2>
                            <div>
                                <div class="mainParsys parsys containsResourceName resourceClass-parsys">
                                    <div class="text containsResourceName section resourceClass-text">
                                        <div class="mw-text  ">

                                            <p>Linear models describe a continuous response variable as a function of
                                                one or more predictor variables. They can help you understand and
                                                predict the behavior of complex systems or analyze experimental,
                                                financial, and biological data.</p>
                                            <p>Linear regression is a statistical method used to create a linear model.
                                                The model describes the relationship between a dependent variable \(y\)
                                                (also called the response) as a function of one or more independent
                                                variables \(X_i\) (called the predictors). The general equation for a
                                                linear model is:</p>
                                            <p>\[y = \beta_0 + \sum \ \beta_i X_i + \epsilon_i\]</p>
                                            <p>where \(\beta\) represents linear parameter estimates to be computed and
                                                \(\epsilon\) represents the error terms.</p>
                                            <p>There are several types of linear regression:</p>


                                        </div>


                                    </div>
                                    <div class="text containsResourceName section resourceClass-text">
                                        <div class="mw-text  ">
                                            <ul>
                                                <li><strong>Simple linear regression:</strong> models using only one
                                                    predictor</li>
                                                <li><strong>Multiple linear regression:</strong> models using multiple
                                                    predictors</li>
                                                <li><strong>Multivariate linear regression:</strong> models for multiple
                                                    response variables</li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="text containsResourceName section resourceClass-text">
                                        <div class="mw-text  ">
                                            <p>Simple linear regression is commonly done in <a
                                                    href="https://uk.mathworks.com/products/matlab.html">MATLAB</a>. For
                                                multiple and multivariate linear regression, see <a
                                                    href="https://uk.mathworks.com/products/statistics.html">Statistics
                                                    and Machine Learning Toolbox</a>. It enables stepwise, robust, and
                                                multivariate regression to:</p>
                                        </div>


                                    </div>
                                    <div class="text containsResourceName section resourceClass-text">
                                        <div class="mw-text  ">
                                            <ul>
                                                <li>Generate predictions</li>
                                                <li>Compare linear model fits</li>
                                                <li>Plot residuals</li>
                                                <li>Evaluate goodness-of-fit</li>
                                                <li>Detect outliers</li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="text containsResourceName section resourceClass-text">
                                        <div class="mw-text  ">
                                            <p>To create a linear model that fits curves and surfaces to your data, see
                                                <a href="https://uk.mathworks.com/products/curvefitting.html">Curve
                                                    Fitting Toolbox</a>. To create linear models of dynamic systems from
                                                measured input-output data, see <a
                                                    href="https://uk.mathworks.com/products/sysid.html">System
                                                    Identification Toolbox</a>. To create a linear model for control
                                                system design from a nonlinear Simulink model, see <a
                                                    href="https://uk.mathworks.com/discovery/linearization.html">Simulink
                                                    Control Design</a>.
                                            </p>
                                            <div>
                                                <div></div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Examples and How To</h3>
                                        <div>
                                            <div class="mainParsys parsys containsResourceName resourceClass-parsys">
                                                <div
                                                    class="relatedartifacts containsResourceName section resourceClass-relatedartifacts">

                                                    <ul>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/videos/fitting-with-matlab-statistics-optimization-and-curve-fitting-81797.html">




                                                                <span></span>
                                                                Fitting with MATLAB: Statistics, Optimization, and Curve
                                                                Fitting<span class="video_length series">
                                                                    (38:37)</span></a>


                                                            - Webinar

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/partial-least-squares-regression-and-principal-components-regression.html">





                                                                Partial Least Squares Regression and Principal
                                                                Components Regression</a>


                                                            - Example

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/videos/matlab-tools-for-scientists-introduction-to-statistical-analysis-81764.html">




                                                                <span></span>
                                                                MATLAB Tools for Scientists - Introduction to
                                                                Statistical Analysis<span class="video_length series">
                                                                    (54:52)</span></a>


                                                            - Webinar

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/videos/machine-learning-with-matlab-87051.html">




                                                                <span></span>
                                                                Machine Learning with MATLAB Overview<span
                                                                    class="video_length series"> (3:02)</span></a>


                                                            - Video

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/videos/estimating-transfer-functions-and-process-models-68899.html">




                                                                <span></span>
                                                                Estimating Transfer Functions and Process Models<span
                                                                    class="video_length series"> (2:27)</span></a>


                                                            - Video

                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Software Reference</h3>
                                        <div>
                                            <div class="mainParsys parsys containsResourceName resourceClass-parsys">
                                                <div
                                                    class="relatedartifacts containsResourceName section resourceClass-relatedartifacts">

                                                    <ul>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/what-is-linear-regression.html">





                                                                What Are Linear Regression Models?</a>


                                                            - Documentation

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/linearmodel.fit.html">





                                                                Linear Model Function in Statistics and Machine Learning
                                                                Toolbox</a>


                                                            - Function

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/linear-regression-model-workflow.html#btb50pe">





                                                                Choosing a Fitting Method for Linear Regression</a>


                                                            - Documentation

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/understanding-linear-regression-outputs.html">





                                                                Interpreting Results of a Linear Regression</a>


                                                            - Documentation

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/linear-regression-model-workflow.html">





                                                                Analyzing Linear Regression Diagnostics</a>


                                                            - Documentation

                                                        </li>

                                                        <li>


                                                            <a
                                                                href="https://uk.mathworks.com/help/stats/robust-regression-reduce-outlier-effects.html#btcyarv-1">





                                                                What is Robust Regression?</a>


                                                            - Documentation

                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="separator"></div>
                            <p>
                                <em>See also:



                                    <a href="https://uk.mathworks.com/products/statistics.html">





                                        Statistics and Machine Learning Toolbox</a>,




                                    <a href="https://uk.mathworks.com/products/curvefitting.html">





                                        Curve Fitting Toolbox</a>,




                                    <a href="https://uk.mathworks.com/solutions/machine-learning.html">





                                        machine learning</a>,




                                    <a href="https://uk.mathworks.com/discovery/linearization.html">





                                        linearization</a>,




                                    <a href="https://uk.mathworks.com/discovery/data-fitting.html">





                                        data fitting</a>,




                                    <a href="https://uk.mathworks.com/solutions/data-analysis.html">





                                        data analysis</a>,




                                    <a href="https://uk.mathworks.com/solutions/mathematical-modeling.html">





                                        mathematical modeling</a>,




                                    <a href="https://uk.mathworks.com/discovery/time-series-regression.html">





                                        time series regression</a>,




                                    <a href="https://uk.mathworks.com/videos/search.html?q=linear+model">





                                        linear model videos</a>


                                </em>
                            </p>

                        </div>

                        ${./includes/widget.html}

                    </div>
                </div>
            </div>

        </div>
    </div>

    ${includes/footer.html}
    ${includes/cookie-banner.html}
    ${includes/script.html}

</body>

</html>