RewriteEngine On

# RewriteCond %{SERVER_PORT} !^443$
# RewriteRule (.*) https://%{SERVER_NAME}/$1 [R]

Header set Access-Control-Allow-Origin "*"

# cache images for 1 month, do not require revalidation
<FilesMatch "\.(gif|jpe?g|png|flv|swf|ico)$">
Header set Cache-Control: "max-age=1296000"
</FilesMatch>
#
# cache scripts, css, and documents for 1 week, do not require revalidation
<FilesMatch "\.(js|css|pdf)$">
Header set Cache-Control: "max-age=10800"
</FilesMatch>
#
# Cache txt, html, and htm pages for 1 week, require revalidation
<FilesMatch "\.(txt|html?)$">
Header set Cache-Control: "max-age=604800, must-revalidate"
</FilesMatch>
#
# disable caching for dynamic files
<FilesMatch "\.(pl|php|[sf]?cgi|spl)$">
Header set Cache-Control: "max-age=0, no-store"
</FilesMatch>

# ErrorDocument 404 /index.php?app=custom_errors&error=404